.Rodape {
    width: 100%;
    background-color: rgb(10, 70, 10);
    color: #aaa;
    padding: 20px 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.Rodape p {
    margin: 4px 0;
}

.Rodape p:first-child {
    color: #fff;
    font-weight: 500;
}