.button {
  padding: 5px 15px;
  border-radius: 20px;
  border: 2px solid var(--verde-claro);
  font-size: 0.9rem;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.span {
  color: var(--verde-claro);
  font-weight: bold;
}

.button:hover {
  background-color: var(--verde-claro);
  color: white;
}

.button:hover .span {
  color: white;
}