.button {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  border: 2px solid var(--verde-claro);
  font-size: 16px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.span {
  color: var(--verde-claro);
  font-weight: bold;
}

.button:hover {
  background-color: var(--verde-claro);
  color: white;
}

.button:hover .span {
  color: white;
}