.Cabecalho{
    display: flex;
    background-color: var(--verde);
    padding: 5px;
    color: white;
    font-family: 'Cal Sans', sans-serif;
    font-size: 2rem;
}

.filho{
    margin: 5px 10px 0;
}
.Cabecalho img{
    width: 40px;
    margin-bottom: 10px;
}
.nome{
    margin-top: 0px;
    margin-left: 5px;
    font-family: 'Cal Sans', sans-serif;
}
span{
    color: var(--amarelo);
    font-family: 'Cal Sans', sans-serif;
}

.direito{
    position: absolute;
    right: 30px;
    top: 0px;
}

.linkB, .linkB:hover{
    text-decoration: none;
    color: white;
    display: flex;
}

.cad{
    background-color: var(--amarelo);
    border: var(--amarelo) solid 1px;
    border-radius: 20px;
    padding: 5px 15px;
    color: black;
    box-shadow: 1px 3px 6px 2px  rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    font-family: 'Cal Sans', sans-serif;
    font-size: 0.9rem;
    width: auto;
    height: 40px;
    transition: background-color 0.3s;

}
.cad:hover{
    box-shadow: none;
    background-color: #e7c813;
    border: #e7c813;
    cursor: pointer;
}

.login{
    background-color: var(--verde);
    border: var(--amarelo) solid 1px;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    box-shadow: 1px 3px 6px 2px  rgba(0, 0, 0, 0.2);
    font-family: 'Cal Sans', sans-serif;
    font-size: 0.9rem;
    width: auto;
    height: 40px; /*ARRUMAR O TEXTO NO BOTÃO PLMDS*/
    transition: background-color 0.3s;
}
.login:hover{
    background-color: #e7c813;
    border: #e7c813 solid 1px;
    border-radius: 20px;
    color: black;
    box-shadow: none;
    cursor: pointer;
}

.linkC{
    display: inline-flex;
    height: fit-content;
}